{% extends 'base.html' %}
{% load static %}
{% block title %}TripGo - Pesan Tiket Travel Terbaik{% endblock %}
{% block content %}
<!-- Hero Section -->
    {% include 'core/sections/hero.html' %}
<!-- Search Form -->
<!-- Popular Pesawat -->
    {% include 'core/sections/pesawat-popular.html' %}
<!-- Popular Kereta -->
    {% include 'core/sections/kereta-popular.html' %}
<!-- Popular Bus -->
    {% include 'core/sections/bus-popular.html' %}
<!-- Why Choose Us -->
    {% include 'core/sections/why-choose.html' %}
<!-- CTA Section -->
    {% include 'core/sections/cta.html' %}
{% endblock %}